{% extends "base-blackjack.html.twig" %}

{% block title %}BlackJack{% endblock %}

{% block body %}
<div class="main">

{{ include('flash.html.twig') }}

<div class="table-wrapper">
<div class="dealer-section">
    <div class="dealer-box">
        <h3>Dealer</h3>
        <div class="player-cards">
            {% for card in blackJack.getDealer().getCards() %}
                {{- card.getGraphic()|default('') -}}
            {% endfor %}
        </div>
            {% set dealerScore = blackJack.calculatePlayerScore(blackJack.getDealer()) %}
            <p class="card-value">
                {% if dealerScore|length == 2 %}
                    {{ dealerScore[0] }} or {{ dealerScore[1] }}
                {% else %}
                    {{ dealerScore[0] }}
                {% endif %}
            </p>
    </div>
</div>

<form action="{{ path('first_bets') }}" method="post">
<div class="players-section">
    {% for player in blackJack.getPlayers() %}
        <div class="player-box">
            <div class="player-details">
                <h3>{{ player.getName()|default('') }}</h3>
                <p>${{ player.getBalance()|default('') }}</p>
            </div>
            
            <div class="player-cards">
                {% for card in player.getCards() %}
                    {{- card.getGraphic()|default('') -}}
                {% endfor %}
            </div>
            <p class="card-value">{{ player.getCardsValue()|default('') }}</p>

                <div class="betting-box">
                    <input type="number" name="bet_{{ loop.index0 }}" min="0" step="50" max="{{ player.getBalance() }}" value="250">
                </div>

        </div>
    {% endfor %}
</div>
    <div class="row-wrapper">
        <input class="btn big" type="submit" value="Place Bets">
    </div>
</form>
</div>

{{ dump(session) }}
<a href="{{ path('session_clear') }}">Clear session</a>
</div>

{% endblock %}