{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<div class="main">

{{ include('flash.html.twig') }}
{% if (playerHand.cards|length < 2) %}
<form method="post" action="">
        <input type="submit" name="hit" value="Hit" onClick="this.form.action='{{ path('game_hit') }}';">
        <input type="submit" name="restart" value="Restart" onClick="this.form.action='{{ path('game_init') }}';this.form.method='get';">
</form>
{% else %}
<form method="post" action="">
        <input type="submit" name="hit" value="Hit" onClick="this.form.action='{{ path('game_hit') }}';">
        <input type="submit" name="stand" value="Stand" onClick="this.form.action='{{ path('game_stand') }}';">
        <input type="submit" name="restart" value="Restart" onClick="this.form.action='{{ path('game_init') }}';this.form.method='get';">
</form>
{% endif %}

    <h3>Player: {{ playerScore }}</h3>
    <div class="card-grid">
    {% for card in playerHand.cards %}
    <div class="card {{ card.getSuit() }}">
        <div class="card-graphic">{{ card.getGraphic() }}</div>
        <p class="card-str">{{ card.__toString() }}</p>
    </div>
    {% endfor %}
    </div>

    <hr>

    <h3>Bank: {{ bankScore }}</h3>
    <div class="card-grid">
    {% for card in bankHand.cards %}
    <div class="card {{ card.getSuit() }}">
        <div class="card-graphic">{{ card.getGraphic() }}</div>
        <p class="card-str">{{ card.__toString() }}</p>
    </div>
    {% endfor %}
    </div>

<p>
    Data in session:
</p>
{{ dump(session) }}
<a href="{{ path('session_clear') }}">Clear session</a>
</div>
{% endblock %}