<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/mvc.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('blackjack') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('blackjack') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <a href="{{ path('blackjack_home') }}"><img src="{{ asset('img/blackjack-logo.png')}}"></a>
        <nav>
            <a href="{{ path('blackjack_home') }}">Home</a>
            <a href="{{ path('blackjack_about') }}">About</a>
            <a href="{{ path('session') }}">Session</a>
        </nav>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <a href="{{ path('session') }}">Session</a>
            <p>&copy; 2024 August Levinson</p>
        </footer>
    </body>
</html>
